@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

/* Separate Design Tokens & Utilities */
@import "./theme/colors.css";
@import "./theme/typography.css";
@import "./theme/components.css";

@layer theme {
  @theme {
    /* Custom line heights as ems to prevent squished text in React Native */
    --text-xs--line-height: 1.333em;
    --text-sm--line-height: 1.428em;
    --text-base--line-height: 1.5em;
    --text-lg--line-height: 1.555em;
    --text-xl--line-height: 1.4em;
    --text-2xl--line-height: 1.333em;
    --text-3xl--line-height: 1.2em;
    --text-4xl--line-height: 1.111em;
    --text-5xl--line-height: 1.2em;
    --text-6xl--line-height: 1.2em;
    --text-7xl--line-height: 1.2em;
    --text-8xl--line-height: 1.2em;
    --text-9xl--line-height: 1.2em;

    /* Custom leading scales as ems */
    --leading-none: 1em;
    --leading-tight: 1.25em;
    --leading-snug: 1.375em;
    --leading-normal: 1.5em;
    --leading-relaxed: 1.625em;
    --leading-loose: 2em;
  }
}
